<div class="no-questions">    
    <img src="/images/no-question.svg" alt="Sem perguntas">
    <h2>Nenhuma pergunta por aqui...</h2>
    <p>Faça a sua primeira pergunta e envie o <br> código dessa sala para outras pessoas!</p>
</div>